<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="toolbar_container">
      <div class="toolbar_container-avatars">
        <ion-title>Hola {{ name }}</ion-title>
        <ion-avatar class="avatarImg">
          <img alt="Avatar" src="{{ avatarSel }}" />
        </ion-avatar>
      </div>
      <div class="toolbar_container-level">Nivel: {{ level }}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="menu-content">
  <div class="title-container">
    <h1 class="title">Escoge una lección</h1>
    <h2>Score: {{ score }}</h2>
  </div>
  <div class="lessons-container">
    <div class="lesson-box" (click)="ingresarDetalle('suma')">
      <img src="../../assets/img/suma.png" alt="Suma" />
      <h2 class="sub-title">SUMA</h2>
    </div>
    <div class="lesson-box" (click)="ingresarDetalle('resta')">
      <img src="../../assets/img/resta.png" alt="Resta" />
      <h2 class="sub-title">RESTA</h2>
    </div>
    <div class="lesson-box" (click)="ingresarDetalle('multiplicacion')">
      <img src="../../assets/img/multiplicacion.png" alt="Multiplicación" />
      <h2 class="sub-title">MULTIPLICACION</h2>
    </div>
    <div class="lesson-box" (click)="ingresarDetalle('division')">
      <img src="../../assets/img/division.png" alt="División" />
      <h2 class="sub-title">DIVISION</h2>
    </div>
  </div>

  <div>
    <ion-button
      class="menuButton"
      expand="block"
      (click)="Salir()"
      class="salir-button"
      >Salir</ion-button
    >
  </div>
</ion-content>
