.toolbar_container {
  display: flex;
  align-items: center;
}

.toolbar_container-avatars {
  display: flex;
  width: 70%;
}

.toolbar_container-level {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.avatarImg {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
