<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Math Kids </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="avatar-selection">
    <ion-button class="btn-avatar" (click)="backAvatar()"> << </ion-button>
    <ion-avatar class="img-avatar">
      <img alt="Avatar" src="{{initAvatar}}" />
    </ion-avatar>
    <ion-button class="btn-avatar" (click)="nextAvatar()"> >> </ion-button>
  </div>

  <div class="input-section">
    <ion-input
      [(ngModel)]="inputNickName"
      type="text"
      class="txt-nick-name"
      placeholder="NickName"
      fill="outline"
    ></ion-input>
    <ion-button class="btn-ingreso" expand="block" (click)="ingresarApp()"
      >Ingresar</ion-button
    >
  </div>
</ion-content>
