.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.avatar-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  margin-top: 50%;
}

.btn-avatar {
  margin: 0 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-avatar {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

.sub-title-avatar {
  font-size: 1.5em;
  color: var(--ion-color-primary);
  margin-top: 10px;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.txt-nick-name {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.btn-ingreso {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-white);
  width: 100%;
  max-width: 300px;
  font-size: 1.2em;
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 8px;
}

